* {
    margin: 0;
    padding: 0;
}



.bg-d {
    background-color:rgb(202, 7, 105);
    padding-right: 100px;
}
.b-text img {
    width: 100px;
    float: left;
    
}
.b-t img{
    display: block;
    margin: 0px auto;
    width: 300px;
}

.menu {
    background-color:bisque;
    height:70px;
   align-items: center;
    
}
.menu ul {
    text-align: center;
}
.menu ul li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;
    align-items: center;
    
}
.menu ul li a{
    text-decoration: none;
    font-weight:bold;
    font-size: large;
}
.menu ul i {
    text-align: right;
}
ul li input {
    padding: 3px;
    border-radius: 20px;
    width: 80px;
}
body{
    background-color:rgb(237, 206, 221)
}
.about{
    width: 100%;
    height: 100vh;
}
.main-about{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.main-about .a-i img{

    width: 650px;
    top: 100px;
    margin-top: 100px;


}
.text-about h1 {
    font-size: xx-large;
    color: rgb(41, 112, 112);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 80px;
    
}
.text-about p{
    text-align: center;
    margin-right: 30px;
    line-height: 25px;
    width: 620px;
    color: rgb(22, 20, 22);
    margin-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
.btn-about{
    background: black;
    width: 100px;
    cursor: pointer;
    border-radius: 7px;
    padding: 12px 25px;
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-top: 100px;

    
}
.btn-about a{
    color:rgb(105, 105, 227);
    
}
.btn-about :hover{
    background: black;
    
}
.f-t {
    background-color: rgb(242, 219, 189);
    color: rgb(63, 113, 113);
    display: flex;
    justify-content:space-between;
    padding: 0px 40px;
    margin-top: 200px;


}
.pic img {
    width: 250px;
    height: 180px;
    padding-top: 50px;

}
.now h3{
    color:goldenrod;
    padding-bottom: 10px;
    margin-top: 20px;
}
.now h2{
    margin-top: 30px;
    color: black;
    
}

.one  li a i {
    margin-top: 20px;
    
}
.one h3 {
    color: black;
    margin-top: 30px;
}





