* {
    margin: 0;
    padding: 0;
    
   
}



.bg-d {
    background-color:rgb(202, 7, 105);
    padding-right: 100px;
}
.b-text img {
    width: 100px;
    float: left;
    
}
.b-t img{
    display: block;
    margin: 0px auto;
    width: 300px;
}

.menu {
    background-color:bisque;
    height:70px;
   align-items: center;
    
}
.menu ul {
    text-align: center;
}
.menu ul li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;
    align-items: center;
    
}
.menu ul li a{
    text-decoration: none;
    font-weight:bold;
    font-size: large;
}
.menu ul i {
    text-align: right;
}
ul li input {
    padding: 3px;
    border-radius: 20px;
    width: 80px;
}
    
/* body {
    background-image:url(images/contact-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
} */

.on {
    background-image:url(images/contact-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    position: relative;
}
.first {
    position: absolute;
    transform: translate(160%, 50%);
}
.first h1 {
    padding-bottom: 50px;
    text-align: center;
}
.first h3 {
    padding-bottom: 40px;
}
.f-t {
    background-color: antiquewhite;
    color: rgb(63, 113, 113);
    display: flex;
    justify-content:space-between;
    padding: 0px 40px;


}
.pic img {
    width: 250px;
    height: 180px;
    padding-top: 50px;

}
.now h3{
    color:goldenrod;
    padding-bottom: 10px;
    margin-top: 20px;
}
.now h2{
    margin-top: 30px;
    color: black;
    
}

.one  li a i {
    margin-top: 20px;
    
}
.one h3 {
    color: black;
    margin-top: 30px;
}