* {
    margin: 0;
    padding: 0;
    
   
}



.bg-d {
    background-color:rgb(202, 7, 105);
    padding-right: 100px;
}
.b-text img {
    width: 100px;
    float: left;
    
}
.b-t img{
    display: block;
    margin: 0px auto;
    width: 300px;
}

.menu {
    background-color:bisque;
    height:70px;
   align-items: center;
    
}
.menu ul {
    text-align: center;
}
.menu ul li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;
    align-items: center;
    
}
.menu ul li a{
    text-decoration: none;
    font-weight:bold;
    font-size: large;
}
.menu ul i {
    text-align: right;
}
ul li input {
    padding: 3px;
    border-radius: 20px;
    width: 80px;
}

.two {
    position: absolute;
    transform: translate(175%, 65%);
    padding-bottom: 20px;
}
.two h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    margin-top: 30px;

}
.two h3 {
    text-align: center;
    padding: 8px;

}
button {
    display: block;
    margin: 0px auto;
    background-color: aquamarine;
    font-style: italic;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
body {
    background-image: url(images/contact-img.jpg);
    height: 100vh;
    display: block;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center;
}