* {
    margin: 0;
    padding: 0;
}
body {
    background-color:rgb(57, 19, 19)
}


.bg-d {
    background-color:rgb(202, 7, 105);
    padding-right: 100px;
}
.b-text img {
    width: 100px;
    float: left;
    
}
.b-t img{
    display: block;
    margin: 0px auto;
    width: 300px;
}

.menu {
    background-color:bisque;
    height:70px;
   align-items: center;
    
}
.menu ul {
    text-align: center;
}
.menu ul li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;
    align-items: center;
    
}
.menu ul li a{
    text-decoration: none;
    font-weight:bold;
    font-size: large;
}
.menu ul i {
    text-align: right;
}
ul li input {
    padding: 3px;
    border-radius: 20px;
    width: 80px;
}
.main{
    margin: 10px;
    display: flex;
    justify-content:space-evenly;
   
}
.main-text h1{
    margin: 0;
    font-size: 50px; 
    padding-left: 140px;
    color: aqua;
    padding-top: 20PX;
    
}
.main-text h2 {
    padding-left: 150px;
    color:burlywood;  
    margin-bottom: 20px;
}
.main-text p{
    
    width: 700px;
    line-height: 2.0;
    font-weight: bold;
    text-align: center;
    color: rgb(200, 200, 200);
}
.main-t p{
    width: 700px;
    line-height: 2.0;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
    color: rgb(200, 200, 200);
}
.main-te p{
    width: 700px;
    line-height: 2.0;
    font-weight: bold;
    margin-top: 150px;
    text-align: center;
    color: rgb(200, 200, 200);


}

.main-i img{
    width: 500px;
    padding-top: 60px;
}

.main-j img{
    width: 500px;
    padding-top: 60px;


}    
.btn{
    background: #004dff;
    position: relative;
    left: 550px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    border-radius: 7px;
    padding: 12px 25px;
}
.btn a{
    color: aqua;
    text-decoration: none;
    margin-right: 10px;
    
}
.btn a:hover{
    text-decoration:underline;
    font-size: 20px;
}

    
