* {
    margin: 0;
    padding: 0;
}
body {
    background-color:bisque
}


.bg-d {
    background-color:rgb(202, 7, 105);
    padding-right: 100px;
}
.b-text img {
    width: 100px;
    float: left;
    
}
.b-t img{
    display: block;
    margin: 0px auto;
    width: 300px;
}

.menu {
    background-color:bisque;
    height:70px;
   align-items: center;
    
}
.menu ul {
    text-align: center;
}
.menu ul li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;
    align-items: center;
    
}
.menu ul li a{
    text-decoration: none;
    font-weight:bold;
    font-size: large;
}
.menu ul i {
    text-align: right;
}
ul li input {
    padding: 3px;
    border-radius: 20px;
    width: 80px;
}
.n img {
    width: 100%;
}
.n p {
    color:rgb(29, 52, 52);
    font-family:cursive;
    text-align: center;

}
    
