* {
    margin: 0;
    padding: 0;
}



.bg-d {
    background-color:rgb(202, 7, 105);
    padding-right: 100px;
}
.b-text img {
    width: 100px;
    float: left;
    
}
.b-t img{
    display: block;
    margin: 0px auto;
    width: 300px;
}

.menu {
    background-color:bisque;
    height:70px;
   align-items: center;
    
}
.menu ul {
    text-align: center;
}
.menu ul li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;
    align-items: center;
    
}
.menu ul li a{
    text-decoration: none;
    font-weight:bold;
    font-size: large;
}
.menu ul i {
    text-align: right;
}
ul li input {
    padding: 3px;
    border-radius: 20px;
    width: 80px;
}
.btn-about a{
    color: #fff;
}
.btn-about:hover{
    background: black;
}
h1 {
    text-align: center;
    background-color:darkcyan;
    padding-bottom: 10px;
    padding-top: 10px;
    color:rgb(241, 211, 211);
}
.menu-i{
    background-color:rgb(33, 7, 7);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.menu-i h1{
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.menu-box{
    margin: 10px;
    padding: 16px;
   
}
.menu-cart{
    background-color:rgb(115, 175, 115);
    width: 325px;
    height: 480px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}

.menu-image img{
    width: 325px;
    height: 200px;
}
.info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color:darkblue;
}
.info p{
    color:rgb(29, 0, 50);
    text-align: center;
    padding: 10PX;
    line-height: 21px;

}
.info h3{
    text-align: center;
    margin-top: 10px;
    color:rgb(99, 7, 99);

}
.menu-icon {
    color: #00d4ff;
    text-align: center;
    margin: 10px 0 10px 0;
}

.info button {
    background-color:black;
    width: 130px;
    height: 40px;
    text-align: center;
    display: block;
    margin: 0px auto;
    border-radius: 7px;
    border-color: black;
    margin-top: 20px;

    

    

    
    


    
    
    
    
    
    
}
.menu-star {
    color: rgb(241, 218, 83);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.f-t {
    background-color: antiquewhite;
    color: rgb(63, 113, 113);
    display: flex;
    justify-content:space-between;
    padding: 0px 40px;


}
.pic img {
    width: 250px;
    height: 180px;
    padding-top: 50px;

}
.now h3{
    color:rgb(165, 125, 22);
    padding-bottom: 10px;
    margin-top: 20px;
}
.now h2{
    margin-top: 30px;
    color: black;
    
}

.one  li a i {
    margin-top: 20px;
    
}
.one h3 {
    color: black;
    margin-top: 30px;
}



